@tailwind base;
@tailwind components;
@tailwind utilities;


.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.container{
  width: 100%;
  height: calc(100vh - 7rem);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}